<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find fourth_robot_description)/urdf/base/base.gazebo.xacro"/>
  
  <xacro:macro name="base_v0" params="parent *joint_origin">
	<joint name="base_link_joint" type="fixed">
	  <xacro:insert_block name="joint_origin"/>
	  <parent link="${parent}"/>
	  <child link="base_link"/>
	</joint>

	<link name="base_link">
	  <visual>
		<geometry>
		  <mesh filename="package://fourth_robot_description/meshes/DAE/base/base_link.dae"/>
		</geometry>
	  </visual>
	  <collision>
		<geometry>
		  <mesh filename="package://fourth_robot_description/meshes/STL/base/base_link.stl"/>
		</geometry>
	  </collision>
	  <inertial>
		<origin xyz="-0.061 0 -0.002"/>
		<mass value="45"/>
		<inertia ixx="1.64890" ixy="0" ixz="-0.21424"
				 iyy="2.24766" iyz="0"
				 izz="1.25664" />
	  </inertial>
	</link>
  </xacro:macro>
  
</robot>
