<launch>
    <!--  usb_camノードを実行する   -->
    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen">
          <remap from="/usb_cam/image_raw" to="/usb_cam/image_raw"/>
          <param name="video_device" value="/dev/video0" />
          <param name="image_width" value="640" />
          <param name="image_height" value="480" />
          <param name="pixel_format" value="mjpeg" />
          <param name="framerate" value="30" />
          <param name="contrast" value="32" />
          <param name="brightness" value="32" />
          <param name="saturation" value="32" />
          <param name="autofocus" value="true" />
          <param name="focus" value="51" />
    </node>

    <!--  image_viewノードを実行する   -->
    <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/usb_cam/image_raw"/>
    <param name="autosize" value="true"/>
    </node>	
</launch>
